<br>
<br>

<div class="person-list">

  <div class="person-search">
  <input type="text" placeholder="Enter Id" [(ngModel)]="searchId">
  <button (click)="searchPersonById()">Search</button>
  </div>

  <div *ngIf="isFetching">
    <p>Loading...</p>
  </div>

  <div *ngIf="!isFetching && personId">
    <div class="person-details">
      <h2>Person: </h2>
      <p><strong>Name:</strong> {{ personId.firstName }} {{ personId.lastName }} </p>
    </div>
  </div>

  <div *ngIf="!isFetching && !personId">
    <!-- <p>Person not found.</p> -->
  </div>

  <br>

<div class="table" *ngIf="showList && persons.length > 0">
  <h2>List of Persons:</h2>
  <table> 
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <!-- <th>Age</th>
        <th>Gender</th>
        <th>Email</th> -->
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of persons">
        <td>{{ person.id }}</td>
        <td>{{ person.firstName }} {{ person.lastName }}</td>
        
        <!-- <td>{{ person.personAge }}</td>
        <td>{{ person.personGender }}</td>
        <td>{{ person.personEmail }}</td> -->
        <td>
          <button class="delete-btn" (click)="deletePersonById(person.id)">Delete</button>
          <button class="details-btn" (click)="moreDetailsById(person.id)">Details</button>
          <button class="edit-btn" (click)="editPerson(person.id)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
 <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
</div>
</div>